<nav class="relative sm:pb-9 mb-8" id="progress-indicator" hx-swap-oob="true">
    <!-- Progress Bar -->
    <div class="absolute top-0 right-0 left-0 flex h-4 items-center">
        <div class="flex h-1 w-full items-center overflow-hidden rounded-full bg-primary/20">
            <div
                role="progressbar"
                aria-valuenow="{{ progressPercentage }}"
                aria-valuemin="0"
                aria-valuemax="100"
                class="flex items-center justify-center self-stretch rounded-full bg-primary text-xs font-medium text-primary-content transition-all duration-500 ease-out"
                style="width: {{ progressPercentage }}%"
            ></div>
        </div>
    </div>

    <!-- Steps Bullets -->
    <ol class="relative flex items-center justify-between gap-2 md:gap-4 mt-4" role="list">
        {% for step in steps %}
        <li class="flex-1">
            <div class="group relative flex flex-col items-center">
                <!-- Bullet -->
                <div
                    class="flex size-4 items-center justify-center rounded-full font-semibold transition-colors {% if step.isCompleted %}bg-primary group-hover:bg-primary/90 group-active:bg-primary{% elif step.isActive %}border-4 border-primary bg-base-100 group-hover:border-primary/90 group-active:border-primary{% else %}bg-primary/20 group-hover:bg-primary/30 group-active:bg-primary/20{% endif %}"
                ></div>
                <!-- Label -->
                <div
                    class="absolute {% if loop.first %}left-0{% elif loop.last %}right-0{% else %}-right-6 -left-6 text-center{% endif %} hidden py-2 text-sm font-medium group-hover:text-primary sm:block"
                >
                    {{ step.label }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
</nav>
