<div>
    <div class="mb-4">
        <div class="flex items-center gap-3 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-error shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
            <h2 class="text-2xl font-semibold text-base-content">Error</h2>
        </div>
        <div class="relative flex flex-col h-full px-4 py-3 bg-error/10 border border-error/20 rounded-xl mb-4">
            <p class="text-sm text-error-content">{{ errorMessage }}</p>
        </div>
    </div>

    <div class="flex justify-end">
        <button onclick="history.back()" class="relative inline-flex items-center justify-center h-auto px-6 py-3 text-sm font-medium transition-colors bg-base-100 rounded-full sm:text-base border border-base-300 hover:bg-base-200 focus:outline-none">
            ← Back
        </button>
    </div>
</div>
